# astral-os — software (Zephyr userspace + WAMR WASM runtime), licensed MIT. See LICENSE.
* text=auto eol=lf

# Help GitHub Linguist classify sources correctly.
*.c     linguist-language=C
*.h     linguist-language=C
*.py    linguist-language=Python
*.wasm  linguist-language=WebAssembly
