IO_LOC  "led0" P19;
IO_PORT "led0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "led1" R19;
IO_PORT "led1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "led2" T21;
IO_PORT "led2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "led3" U21;
IO_PORT "led3" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "clk" V22;
IO_PORT "clk" BANK_VCCIO=3.3 PULL_MODE=NONE;

IO_LOC  "reset" Y12;
IO_PORT "reset" BANK_VCCIO=3.3 PULL_MODE=UP;
